<launch>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output = "screen" args="
                            /mrm_description/joint_state_controller
                            /mrm_description/base_waist_joint_position_controller
                            /mrm_description/waist_forearm_joint_position_controller
                            /mrm_description/forearm_forearmRotation_joint_position_controller
                            /mrm_description/forearmRotation_wrist_joint_position_controller
                            /mrm_description/wrist_wristRotation_joint_position_controller"
                            />
</launch>